<html>

<head>
  <title>sign-up</title>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</head>

<body>

    <p><input type="text" id="annotator_name" /></p>
    <p><input type="text" id="token" /></p>
    <p><button id="submit" onclick="submit()">submit</button></p>

</body>

<script>
    function replace() {
        anno = $('#anonymous_name').val();
        $('.entity').html(anno);
    }
    function submit(){
        annotator_name = $('#annotator_name').val();
        token = $('#token').val();
        
        $.ajax({
            type: 'POST',
            async: true,
            url: 'http://127.0.0.1:5000/annotator_sign_up',
            data: { 
                'annotator_name': annotator_name,
                'token': token
            },
            success: (e) => {
                console.log('hi')
                console.log(e)
                location.href = 'http://127.0.0.1:5000' + e
            }
        });
    }
</script>

</html>