<html>

<head>
    <title>{{data['title']}}</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        var idx = {{idx}};
        var question_num = {{question_num}}
        var data = {{data|tojson}}
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        .passage {
            /* padding: 10px 16px; */
            /* background: rgb(66, 65, 65);
            color: #f1f1f1; */
            height: 100%;
        }
            
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }
     
        .content{
            margin-top: 0rem;
        }
        .vl {
            border-left: 3px dashed rgb(0, 0, 0);
            height: 100%;
            position: fixed;
            left: 55.9%;
            margin-left: -3px;
            top: 0;
        }
    </style>
</head>

<body>
    <div class="passage sticky", id="passage", style="width: 55%; float:left">
        <!-- <h2>Passage</h2> -->
        <h2>Topic Entity:{{ori_topic_entity}}:{{data['topic_entity']['en']['label']}}</h2>
        <p>{{data['context'].replace(ori_topic_entity,replace_text) | safe}}</p>
        <p><b>WIKIDATA URL: </b><a href="https://wikidata.org/wiki/{{data['topic_entity']['wikidata_id']}}">https://wikidata.org/wiki/{{data['topic_entity']['wikidata_id']}}</a> </p>
        <b>WIKIPEDIA URL: </b><a href={{data['topic_entity']['url']}}>{{data['topic_entity']['url']}}</a>
    
        <p><b>Label (标签):    </b>{{data['topic_entity']['en']['label']}}  ({{data['topic_entity']['zh']['label']}}) </p>
        <p><b>Description (描述):  </b>{{data['topic_entity']['en']['description']}} ({{data['topic_entity']['zh']['description']}})</p>
        <p><b>Alt Label:</b>{{data['topic_entity']['en']['altLabel']}}</p>
        <!-- <p></p> -->
        <!-- <p></p> -->
        <p><b>其他标签:</b>{{data['topic_entity']['zh']['altLabel']}}</p>     
        <p><b>可供参考的匿名化名称：</b>{{data['topic_entity']['anonymous_name']}}</p>
        <p><b> 请给出你认为适当的匿名化名称:</b></p>
        <p><input type="text" id="anonymous_name" value="{{filled_values['annoymous_name']}}" /></p>
        <p><button id="submit" onclick="replace()">replace anonymous name in text</button></p>
    </div>
    
    <div class="vl"></div>

    <div class="content", style="width: 43%; float:right">
        
        <!-- <hr> -->
        <h2>Questions</h2>
    
        {% for loop_idx in range(question_num) %}
            <h3 >wikidata_id: <a href="{{data['questions'][loop_idx]['relation']['url']}}">{{data['questions'][loop_idx]['relation']['wikidata_id']}}</a> </h3>
            {% if  data['questions'][loop_idx]['relation']['reversed']%}
                <p><b style="color:red">请对给出关系的逆向提问！！</b> </p>
                <p><b style="color:red">Question to the reverse of the relation</b> </p>
            {% else%}
                <p><b style="color:red">请对给出关系的正向提问！！</b> </p>
                <p><b style="color:red">Question to the origin relation</b> </p>
            {% endif%}
            <p><b>Label:</b>{{data['questions'][loop_idx]['relation']['en']['label']}}</p>
            <p><b>Description:</b>{{data['questions'][loop_idx]['relation']['en']['description']}}</p>
            <p><b>Alt Label:</b>{{data['questions'][loop_idx]['relation']['en']['altLabel']}}</p>
            <p><b>Example:</b>{{data['questions'][loop_idx]['relation']['example']['en']}}</p>
            <p><b>标签:</b>{{data['questions'][loop_idx]['relation']['zh']['label']}}</p>
            <p><b>描述:</b>{{data['questions'][loop_idx]['relation']['zh']['description']}}</p>
            <p><b>其他标签:</b>{{data['questions'][loop_idx]['relation']['zh']['altLabel']}}</p>
            <p><b>例子:</b>{{data['questions'][loop_idx]['relation']['example']['zh']}}</p>
            <p><b>答案:</b></p>
            <p>Question:<input type="text" id="question_text_{{loop_idx}}" value="{{filled_values['question_text_list'][loop_idx]['question_text']}}" /></p>
            <hr />
        {% endfor %}
        <p><button id="submit" onclick="submit()">submit</button></p>
    </div>




</body>

<script>
    document.onkeydown = function(evt) {
        evt = evt || window.event;
        console.log(evt)
        if ( evt.keyCode == 37) {
            if (idx > 0) {
                location.href = 'http://127.0.0.1:5000/pageID=' + (idx-1).toString();
            }
            else{
                alert('Already at the first data point.')
            }
        }
        if ( evt.keyCode == 39) {
            if (idx == 13321){ // TODO: this written code not good
                alert('This is the last data point.')
            }
            else{
                location.href = 'http://127.0.0.1:5000/pageID=' + (idx+1).toString();
            }
        }
    };
    function replace() {
        anno = $('#anonymous_name').val();
        $('.entity').html(anno);
    }
    function submit(){
        annoymous_name = $('#anonymous_name').val();
        question_text_list = Array()
        for (let i = 0; i < question_num; i++) {
            question_text_list.push(
                {
                    'question_id': data['questions'][i]['id'],
                    'question_text':$('#question_text_'+i.toString()).val()
                }
            );
        }
        // console.log(question_text_list)
        
        $.ajax({
            type: 'POST',
            async: true,
            url: 'http://127.0.0.1:5000/pageID=' + idx.toString(),
            data: { 
                'passage_id': data['id'],
                'annoymous_name': annoymous_name,
                'question_text_list': JSON.stringify(question_text_list), 
            },
            success: (e) => {
                // console.log('hi')
                // console.log(e)
                // console.log('http://127.0.0.1:5000/pageID=' + (idx+1).toString())
                location.href = 'http://127.0.0.1:5000/pageID=' + (idx+1).toString();
            }
        });
    }
</script>

</html>